@import "../mixins/media-queries";
@import "../mixins/grid-mixin";

.accordion {
  grid-column: 1 / 2;
  grid-row: 1/1;
  padding: 0px 140px;

  @include respond-down(lg) {
    grid-column: 1 / 2;
    grid-row: 1/1;
    padding: 10px 64px;
  }

  @include respond-down(md) {
    grid-column: 1 / 1;
    grid-row: 1/1;
    padding: 20px 24px;
  }
}

// Accordion title
.accordion-header {
  display: flex;
  justify-content: space-between;
  background-color: $tertiary-color;
  cursor: pointer;
  padding: 30px 0;
  transition: background-color 0.3s;
  color: $primary-color;
  font-weight: $font-weight-light;
  font-size: $font-size-h5;

  @include text-capitalize;

  &::after {
    content: url("../assets/images/plus-icon.svg");
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
  }

  &.active::after {
    content: url("../assets/images/minus-icon.svg");
  }
}

// Accordion content
.accordion-content {
  max-height: 0;
  transition: ease-in-out 300ms;
  overflow: hidden;

  p {
    color: $primary-color;
    font-weight: $font-weight-light;
    font-size: $font-size-small;
    padding: 10px 0;
  }
}
