<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Restorative hair mask: nuturishment in a bottle - Act+Acre</title>

    <meta name="Restorative hair mask: nuturishment in a bottle - Act+Acre" />
    <meta
      name="description"
      content="Restorative hair mask: nuturishment in a bottle - Act+Acre"
    />

    <link
      rel="canonical"
      href="https://actandacre.com/products/restorative-hair-mask"
    />
    <meta name="robots" content="index, follow" />

    <link
      rel="icon"
      href="./../assets/images/fav_icon.ico"
      type="image/x-icon"
    />
    <link
      rel="shortcut icon"
      href="./../assets/images/fav_icon.ico"
      type="image/x-icon"
    />

    <meta property="og:title" content="Act+Acre" />
    <meta property="og:type" content="product" />
    <meta property="og:price:amount" content="38.00" />
    <meta property="og:price:currency" content="USD" />
    <meta
      property="og:url"
      content="https://actandacre.com/products/restorative-hair-mask"
    />
    <meta
      property="og:image"
      content="https://actandacre.com/images/restorative-hair-mask.png"
    />
    <meta
      property="og:description"
      content="Lorem Ipsum is simply dummy text of the printing and typesetting industry."
    />

    <meta property="og:site_name" content="Act+Acre" />
    <meta property="og:locale" content="en_US" />

    <meta
      name="twitter:card"
      content="Restorative hair mask: nuturishment in a bottle"
    />
    <meta
      name="twitter:title"
      content="Restorative hair mask: nuturishment in a bottle - Act+Acre"
    />
    <meta
      name="twitter:description"
      content="Lorem Ipsum is simply dummy text of the printing and typesetting industry."
    />
    <meta
      name="twitter:image"
      content="https://actandacre.com/images/restorative-hair-mask.png"
    />
    <meta name="twitter:site" content="@actandacre" />

    <meta name="author" content="Milica Marjanac" />

    <link rel="stylesheet" href="./../scss/main.scss" />
  </head>
  <body>
    <nav class="navbar">
      <button class="menu-icon">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </button>

      <a href="#" class="nav-logo"
        ><img src="../assets/images/logo.svg" alt="Logo"
      /></a>

      <a href="#" class="nav-link search">
        <img src="../assets/images/search.svg" alt="Search" />
      </a>

      <a href="#" class="nav-link user">
        <img src="../assets/images/user.svg" alt="User" />
      </a>

      <a href="#" class="nav-link cart">
        <img src="../assets/images/briefcase.svg" alt="Bag" />
      </a>

      <ul class="nav-menu">
        <li class="nav-item">
          <a href="#" class="nav-link">Shop</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Science</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Press</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Blogs</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Tutorial</a>
        </li>
      </ul>
    </nav>

    <main>
      <section class="product" itemscope itemtype="https://schema.org/Product">
        <div class="product-image">
          <picture>
            <source
              media="(max-width: 600px)"
              srcset="
                ../assets/images/restorative-hair-mask.png?as=webp&width=600
              "
              type="image/webp"
            />
            <source
              media="(max-width: 1200px)"
              srcset="
                ../assets/images/restorative-hair-mask.png?as=webp&width=1200
              "
              type="image/webp"
            />
            <source
              media="(min-width: 1201px)"
              srcset="
                ../assets/images/restorative-hair-mask.png?as=webp&width=1600
              "
              type="image/webp"
            />
            <img
              itemprop="image"
              src="../assets/images/restorative-hair-mask.png"
              alt="Flowers"
              style="width: auto"
            />
          </picture>
        </div>

        <div class="product-breadcrumbs">
          <ul>
            <li>
              <a href="">all products</a>
            </li>
            <li>
              <a href="">haircare</a>
            </li>
            <li>
              <a class="active" href="">restorative hair mask</a>
            </li>
          </ul>
        </div>

        <div class="product-description">
          <h3 itemprop="name">restorative hair mask</h3>
          <h5 itemprop="availability" href="https://schema.org/InStock">
            nuturishment in a bottle
          </h5>
          <hr />
          <p itemprop="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Tempor
            commodo ullamcorper a lacus vestibulum. Luctus accumsan tortor
            posuere ac ut.
          </p>
          <div class="product-details">
            <div class="product-detail">
              <img src="../assets/images/organic.svg" alt="100% organic" />
              <p class="detail-description">100% organic</p>
            </div>
            <div class="product-detail">
              <img src="../assets/images/organic.svg" alt="100% organic" />
              <p class="detail-description">100% organic</p>
            </div>

            <div class="product-detail">
              <img src="../assets/images/organic.svg" alt="100% organic" />
              <p class="detail-description">100% organic</p>
            </div>
            <div class="product-detail">
              <img src="../assets/images/organic.svg" alt="100% organic" />
              <p class="detail-description">100% organic</p>
            </div>
          </div>
          <hr />
          <form
            id="checkout-form"
            action="submit"
            itemprop="offers"
            itemscope
            itemtype="https://schema.org/Offer"
          >
            <div class="radio-item">
              <input
                type="radio"
                id="buy-once"
                class="custom-radio"
                name="options"
                checked
              />
              <label for="buy-once"
                >buy once | <span itemprop="priceCurrency" content="USD">$</span
                ><span itemprop="price" content="38">38</span></label
              >
            </div>
            <div class="radio-item">
              <input
                type="radio"
                id="subscribe"
                class="custom-radio"
                name="options"
              />
              <label for="subscribe"
                >subscribe <span>(save 20%) | $30 </span></label
              >
            </div>

            <div class="checkout">
              <div class="counter-container">
                <input type="button" id="decrement" value="-" />
                <input type="text" readonly size="25" value="1" class="count" />
                <input type="button" id="increment" value="+" />
              </div>
              <button class="cart-button">
                <span>Add to cart</span>
                <div class="cart">
                  <svg viewBox="0 0 36 26">
                    <polyline
                      points="1 2.5 6 2.5 10 18.5 25.5 18.5 28.5 7.5 7.5 7.5"
                    ></polyline>
                    <polyline points="15 13.5 17 15.5 22 10.5"></polyline>
                  </svg>
                </div>
              </button>
            </div>
          </form>
        </div>
      </section>

      <section class="product-ingredients">
        <div class="accordion">
          <h3 class="accordion-header">ingredients</h3>
          <div class="accordion-content">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Tempor
              commodo ullamcorper a lacus vestibulum. Luctus accumsan tortor
              posuere ac ut.
            </p>
          </div>
          <hr />
          <h3 class="accordion-header">ingredients</h3>
          <div class="accordion-content">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Tempor
              commodo ullamcorper a lacus vestibulum. Luctus accumsan tortor
              posuere ac ut.
            </p>
          </div>
          <hr />
          <h3 class="accordion-header">ingredients</h3>
          <div class="accordion-content">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Tempor
              commodo ullamcorper a lacus vestibulum. Luctus accumsan tortor
              posuere ac ut.
            </p>
          </div>
        </div>
      </section>

      <section class="more-offers">
        <h3>you may also like</h3>
        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="offer">
                <picture>
                  <source
                    media="(max-width: 600px)"
                    srcset="../assets/images/hand-pommade.png?as=webp&width=600"
                    type="image/webp"
                  />
                  <source
                    media="(max-width: 1200px)"
                    srcset="
                      ../assets/images/hand-pommade.png?as=webp&width=1200
                    "
                    type="image/webp"
                  />
                  <source
                    media="(min-width: 1201px)"
                    srcset="
                      ../assets/images/hand-pommade.png?as=webp&width=1600
                    "
                    type="image/webp"
                  />
                  <img
                    src="../assets/images/hand-pommade.png"
                    alt="Flowers"
                    style="width: auto"
                  />
                </picture>
                <p class="offer-title">hand pomade / pommade mains</p>
                <p class="offer-description">nourishment for your hands</p>
                <p class="offer-price">159.00 kr</p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="offer">
                <picture>
                  <source
                    media="(max-width: 600px)"
                    srcset="../assets/images/hand-pommade.png?as=webp&width=600"
                    type="image/webp"
                  />
                  <source
                    media="(max-width: 1200px)"
                    srcset="
                      ../assets/images/hand-pommade.png?as=webp&width=1200
                    "
                    type="image/webp"
                  />
                  <source
                    media="(min-width: 1201px)"
                    srcset="
                      ../assets/images/hand-pommade.png?as=webp&width=1600
                    "
                    type="image/webp"
                  />
                  <img
                    src="../assets/images/hand-pommade.png"
                    alt="Flowers"
                    style="width: auto"
                  />
                </picture>
                <p class="offer-title">hand pomade / pommade mains</p>
                <p class="offer-description">nourishment for your hands</p>
                <p class="offer-price">159.00 kr</p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="offer">
                <picture>
                  <source
                    media="(max-width: 600px)"
                    srcset="../assets/images/hand-pommade.png?as=webp&width=600"
                    type="image/webp"
                  />
                  <source
                    media="(max-width: 1200px)"
                    srcset="
                      ../assets/images/hand-pommade.png?as=webp&width=1200
                    "
                    type="image/webp"
                  />
                  <source
                    media="(min-width: 1201px)"
                    srcset="
                      ../assets/images/hand-pommade.png?as=webp&width=1600
                    "
                    type="image/webp"
                  />
                  <img
                    src="../assets/images/hand-pommade.png"
                    alt="Flowers"
                    style="width: auto"
                  />
                </picture>
                <p class="offer-title">hand pomade / pommade mains</p>
                <p class="offer-description">nourishment for your hands</p>
                <p class="offer-price">159.00 kr</p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="offer">
                <picture>
                  <source
                    media="(max-width: 600px)"
                    srcset="../assets/images/hand-pommade.png?as=webp&width=600"
                    type="image/webp"
                  />
                  <source
                    media="(max-width: 1200px)"
                    srcset="
                      ../assets/images/hand-pommade.png?as=webp&width=1200
                    "
                    type="image/webp"
                  />
                  <source
                    media="(min-width: 1201px)"
                    srcset="
                      ../assets/images/hand-pommade.png?as=webp&width=1600
                    "
                    type="image/webp"
                  />
                  <img
                    src="../assets/images/hand-pommade.png"
                    alt="Flowers"
                    style="width: auto"
                  />
                </picture>
                <p class="offer-title">hand pomade / pommade mains</p>
                <p class="offer-description">nourishment for your hands</p>
                <p class="offer-price">159.00 kr</p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="offer">
                <picture>
                  <source
                    media="(max-width: 600px)"
                    srcset="../assets/images/hand-pommade.png?as=webp&width=600"
                    type="image/webp"
                  />
                  <source
                    media="(max-width: 1200px)"
                    srcset="
                      ../assets/images/hand-pommade.png?as=webp&width=1200
                    "
                    type="image/webp"
                  />
                  <source
                    media="(min-width: 1201px)"
                    srcset="
                      ../assets/images/hand-pommade.png?as=webp&width=1600
                    "
                    type="image/webp"
                  />
                  <img
                    src="../assets/images/hand-pommade.png"
                    alt="Flowers"
                    style="width: auto"
                  />
                </picture>
                <p class="offer-title">hand pomade / pommade mains</p>
                <p class="offer-description">nourishment for your hands</p>
                <p class="offer-price">159.00 kr</p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="offer">
                <picture>
                  <source
                    media="(max-width: 600px)"
                    srcset="../assets/images/hand-pommade.png?as=webp&width=600"
                    type="image/webp"
                  />
                  <source
                    media="(max-width: 1200px)"
                    srcset="
                      ../assets/images/hand-pommade.png?as=webp&width=1200
                    "
                    type="image/webp"
                  />
                  <source
                    media="(min-width: 1201px)"
                    srcset="
                      ../assets/images/hand-pommade.png?as=webp&width=1600
                    "
                    type="image/webp"
                  />
                  <img
                    src="../assets/images/hand-pommade.png"
                    alt="Flowers"
                    style="width: auto"
                  />
                </picture>
                <p class="offer-title">hand pomade / pommade mains</p>
                <p class="offer-description">nourishment for your hands</p>
                <p class="offer-price">159.00 kr</p>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="offer">
                <picture>
                  <source
                    media="(max-width: 600px)"
                    srcset="../assets/images/hand-pommade.png?as=webp&width=600"
                    type="image/webp"
                  />
                  <source
                    media="(max-width: 1200px)"
                    srcset="
                      ../assets/images/hand-pommade.png?as=webp&width=1200
                    "
                    type="image/webp"
                  />
                  <source
                    media="(min-width: 1201px)"
                    srcset="
                      ../assets/images/hand-pommade.png?as=webp&width=1600
                    "
                    type="image/webp"
                  />
                  <img
                    src="../assets/images/hand-pommade.png"
                    alt="Flowers"
                    style="width: auto"
                  />
                </picture>
                <p class="offer-title">hand pomade / pommade mains</p>
                <p class="offer-description">nourishment for your hands</p>
                <p class="offer-price">159.00 kr</p>
              </div>
            </div>
          </div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </section>
    </main>
    <script type="module" src="../js/index.js"></script>
  </body>
</html>
